main {
    font-family: Arial;
    line-height: 1.5;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

form {
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;  
}

label {
    width: 80px;
}

input, textarea {
    margin-bottom: 10px;
    width: 250px;
    border-radius: 10px;
}

textarea {
    vertical-align: top;
    height: 100px;
} 

input[type="submit"] {
    width: 255px;
}